body {
  font-size: 16px;
  color:black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}



section
{
  background-color: lightgray;
}
/** HEADER **/
#header-nav {
  background-color: lightgray;
  border-radius: 0;
  border: 1px solid black;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #222;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle.collapsed, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle  {
  border: 1px solid white; 
}




/********** desktop version **********/
@media (min-width: 992px) {
  
  body {
    /*background-color: White;*/
  }


}


/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  body {
    /*background-color: White;*/
  }
   
}

/********** mobile version **********/
@media (max-width: 767px) {
  
  body {
    /*background-color: White;*/
    
  }
  
  #collapsable-nav
  {
    margin-top:0;
    margin-bottom: 0;
  }

  #nav-list a {
    background-color: White;
    color: #951C49;
    /*text-align: center;*/
    border: 1px solid black;
    margin: 0;    
  }

  section
  {
    margin-left: 40px;
    margin-right: 40px;
  }
  
}
